@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F6ECF5;
}
.image.center,
.heading.center,
.list.center {
    text-align: center;
}
.list {
    list-style-position: inside;
}